@model List<WebApplication2.Item>

@{
    ViewData["Title"] = "Home Page";
}

<section class="collections">
    <div class="container">
        <div class="collection__inner">
            <h1 class="collection__title section__title">Цена дуделок!</h1>
            <p class="collection__text">Risus commodo id odio turpis pharetra elementum...</p>
        </div>
        <div class="collection__cards">
            @foreach (var item in Model)
            {
                <div class="collection__cards-items">
                    <img src="@item.pathImage" alt="" class="collection__cards-img">
                    <p class="collection__cards-text">@item.name</p>
                    <p class="collection__cards-desct">@item.price</p>
                    <a href="#" class="section__btn">Buy</a>
                </div>
            }
        </div>
    </div>
</section>
